.card {
  width: 300px;
  border-radius: 8px;
  border: 1px solid rgb(231, 231, 231);
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

.card-content span {
  color: #6b7280;
}

.card-img-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px 8px 0px 0px;
}

.card-img-container img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card-img-container img:hover {
  scale: 120%;
}
