<div class="card">
  <div class="card-img-container">
    <img src="/assets/{{ img }}" alt="" />
  </div>
  <div class="card-content">
    <h2>{{ title }}</h2>
    <span>@{{ user }}</span>
    <p>{{ description }}</p>
  </div>
</div>
